upstream fastcgi_backend {
  server ${PHP_FPM_HOST}:${PHP_FPM_PORT};
}

server {
  listen 80 default_server;
  server_name _;
  set ${DOLLAR}APP_ROOT ${APP_ROOT};
  set ${DOLLAR}APP_ROOT_PUBLIC ${APP_ROOT_PUBLIC};
  index index.php;
  include /etc/nginx/app.conf;
}
